doctype html
div
	div
		span
			b Note ID:&nbsp;
		span !{noteId}
	div
		span
			b User:&nbsp;
		span !{user}
	div
		span
			b File:&nbsp;
		span !{fileName}
	div
		span
			b Line:&nbsp;
		span !{lineNumber},&nbsp;
		span
			b Position in file:&nbsp;
		span !{position}
	div
		span
			b Comments:&nbsp;
		span !{comments}
	div
		span
			b Content:&nbsp;
		span !{content}
	br
